x:nth-child() {
  position: relative;
  position: absolute;
  position: fixed;
  display: none;
  display: inline-block;
  display: grid;
  grid-template-rows: repeat() 1fr 1fr;
  grid-template-columns: min-content;
  grid-template-areas: "cos";
  grid-area: css;
  width: 100%;
  height: 100%;
  line-height: 2;
  text-align: center;
  text-align: justify;
  font-size: 2rem;
  color: #1e1e1e;
  color: transparent;
  border: 1px solid rgb(255, 199, 96);
  transform: translateX();
  background-color: rgb(199, 199, 199);
  background-image: url();
  font-weight: 700;
  justify-self: right;
  align-self: flex-end;
  justify-content: center;
  align-content: center;
  filter: blur(2px);
  overflow: hidden;
  opacity: 1;
  text-align: center;
  transform: translate(50%);
  outline: none;
  user-select: none;
  flex-wrap: nowrap;
  z-index: 1;
  color: #1e1e1e;
  color: #0d0d0d;
  color: #f2f2f2;
  color: #0b2d59;
  color: #07418c;
  color: #0455bf;
  color: rgb(255, 197, 88);
}